.app {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mapping-wrapper {
  margin-top: 40px;
}

.table-wrapper {
  margin-top: 24px;
}

/* Media queries for mobile devices */
@media only screen and (max-width: 600px) {
  .app {
    padding: 16px; /* Add padding for better visibility on mobile devices */
  }

  .mapping-wrapper {
    margin-top: 20px;
  }

  .table-wrapper {
    margin-top: 16px;
  }
}

/* Styles for mobile delete drop */
.delete-drop-area {
  display: none; /* Initially hide the delete drop area on non-mobile devices */
}

@media only screen and (max-width: 600px) {
  .delete-drop-area {
    display: block; /* Show the delete drop area on mobile devices */
    height: 100px;
    width: 100%;
    background-color: lightgray;
    border: 2px dashed gray;
    margin-top: 16px;
    text-align: center;
    line-height: 100px;
  }
}
